* {
    box-sizing: border-box;
}

.first-part-menu,
.second-part-menu,
.third-part-menu {
    display: flex;
    align-items: center;
    height: 80px;
}

.first-part-menu {
    justify-content: space-between;
}

.second-part-menu {
    justify-content: center;
}

.third-part-menu {
    justify-content: space-between;
}

.nav-menu {
    width: 25px;
    height: 25px;
    position: relative;
}

.nav-menu span {
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
}

.nav-menu span:first-child {
    top: 2px;
}

.nav-menu span:nth-child(2) {
    top: 11px;
}

.nav-menu span:last-child {
    bottom: 3px;
}

.menu {
    width: 280px;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(150%);
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-in-out;
    flex-direction: column;
    overflow: none;
}

.nav-menu.active-menu span:first-child {
    top: 50%;
    transform: rotate(45deg);
}

.nav-menu.active-menu span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
}

.nav-menu.active-menu span:last-child {
    transform: scale(0);
}

.menu.active-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.3);
    top: 40px;

}

.first-part-menu img,
.third-part-menu img {
    width: 40px;
    height: 40px;
}

.header {
    position: sticky;
    top: 0;
    color: rgba(255, 255, 255, 0.3);
}

.contact-telephone h1 {
    color: black;
    font-size: 25px;
}